<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BLL_DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BLL_DAL.Properties.Settings.QL_KHACHSANConnectionString"
            connectionString="Data Source=ASUS-00I\SQLEXPRESS;Initial Catalog=QL_KHACHSAN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.QuanLyKSConnectionString"
            connectionString="Data Source=ASUS-00I\SQLEXPRESS;Initial Catalog=QuanLyKS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.QuanLyKS_HC_ConnectionString"
            connectionString="Data Source=ASUS-00I\SQLEXPRESS;Initial Catalog=QuanLyKS(HC);Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <BLL_DAL.Properties.Settings>
            <setting name="CNN" serializeAs="String">
                <value>Data Source=ASUS-00I\SQLEXPRESS;Initial Catalog=QuanLyKS(HC);Integrated Security=True</value>
            </setting>
        </BLL_DAL.Properties.Settings>
    </userSettings>
</configuration>