<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL_DAL.Properties.Settings.QL_KHACHSANConnectionString"
            connectionString="Data Source=ASUS-00I\SQLEXPRESS;Initial Catalog=QL_KHACHSAN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.QuanLyKSConnectionString"
            connectionString="Data Source=ASUS-00I\SQLEXPRESS;Initial Catalog=QuanLyKS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.QuanLyKS_HC_ConnectionString"
            connectionString="Data Source=ASUS-00I\SQLEXPRESS;Initial Catalog=QuanLyKS(HC);Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>